body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: #e6fffa;
}

header{
    width: 100vw;
}

header img{
    width: 30vw;
    height: auto;
    margin: 0 35vw;
}

header .buttons{
    display: inline-grid;
    grid-template-columns: auto auto;
    width: 50%;
    height: 4vh;
    margin: 2% 25%;
    color: white;
    background-color: #0099cc;
    text-align: center;
    border-radius: 3px;
}

header .buttons div{
    padding-top: 2%;
    font-size: auto;
}

header .buttons div:hover{
    color: #0099cc;
    background-color: white;
}

main #cheque,#online,#usd{
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
    border: 0.3px solid grey;
    text-align: left;
    padding: 3%;
    font-size: 3vh;
}

main .name{
    color: #0099cc;
    
}

main .balance{
    text-align: right;
}

main .space{
    height: 8vh;
}

main h1{
    text-align: center;
}

main #transfer{
    width: 50vw;
    height: 20vh;
    margin: 2%;
    padding: 5vh 25vw;
    display: inline-grid;
    grid-template-columns: 50% 50%;
}

main #transfer div{
    display: block;
    margin: 0;
}

main #transfer{
    width: 35%;
    height: 25%;
    border: 0.5px solid #0099cc;
}

main #from,#to{
    margin: 20% 0;
    padding: 10%;
    font-size: 3vh;
}

#from select{
    height: 3vh;
}

#to select{
    height: 3vh;
}

.fromDropdown option{
    font-size: 2vh;
}

.toDropdown option{
    font-size: 2vh;
}

main #trasnfer #fromAcc{
    display: inline-grid;
    grid-template-columns: 30% 70%;
}

main #trasnfer #toAcc{
    display: inline-grid;
    grid-template-columns: 30% 70%;
}

#amount{
    text-align: center;
    margin: 20% 0;
    padding: 10%;
    font-size: 3vh;
}

#amount input{
    height: 3vh;
}

